* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #d3d3d3ef;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

body {
    background-color: bisque;
}

#game-name {
    color: #F0003C;
}

#play {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 6px 21px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
}

#play:active .front {
    transform: translateY(-2px);
}

#grid {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    margin-top: 50px;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    background-color: cadetblue;
    border: 1px solid white;
}

.clicked {
    background-color: #10383a;
}